/*CSS reset settings here*/
*{
   
    
    border-radius: 10px;
  }
   #wrapper{
    width: 970px;
    background-color: navy;
    margin: 0px auto;
    padding: 15px;
    
   }
   #header{
    padding: 20px;
    height: 40px;
    background-color: red;
    margin-bottom: 15px;
    color: white;  
    font-size: 30px;
    font-weight: bold;
}

  
   #navigation{
    
    width: 200px;
    background-color:aqua;
    display: inline-block;
    padding: 10px;
    color: rgb(10, 122, 156);
   }

   a{
    color: rgb(10, 122, 156);
   }

  ul{
     margin-top: 0px;
     margin-left: 0px;
     padding-left: 20px;
     display: inline-block;    
  }

  li{
      color:white;
  }

  #bulletfont{
    color: lightblue;
    text-decoration: underline;
    text-decoration-color: lightblue;
    display: inline-block;
  }

  #purple{
      color: purple;
      display: inline-block;
  }



   p{
    padding-bottom: 5px;
    margin: 0px;
    }

   #main_content{
    
    width: 700px;
    background-color: black;
    display: inline-block;
    vertical-align: top;
    margin-left:15px;
    padding-right:10px;
    padding-left:20px;
    color: white;
    font-size: 15px;
   }

   #sub_content{
       padding-bottom:10px;
   }

   
   .subcontents{
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin: 15px 10px 20px 0px;
    
   }
   #advertisement{
    height: 120px;
    width: 660px;
    background-color: purple; 
   }

   #footer{
       margin-top: 15px;
       height:60px; 
       background-color: gray;
   }
   